@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  color:rgba(0, 123, 139, 0.993);
}

.homeimg {
  width: 600px;
  height: 400px;
}

.showImg {
  padding: 2px;
  width: 600px;
  height: 400px;
}

h1 {
    text-align: center;
    color: rgb(104, 43, 184);
  }
  
  img {
    height: 200px;
    width: 400px;
  }

  nav {
    background-color: rgba(0, 123, 139, 0.993);
    padding: 10px;
  }

  nav ul {
    color: aqua;
    list-style-type: none;
    margin: 0;
  }

  nav li {
    color: aqua;
    display: inline;
    margin-right: 25px;
  }

  nav a {
    color: aqua
  }

  nav a:hover {
    color: pink;
    text-decoration: none;
  }

  body {
    background-color: rgb(144, 174, 179);
    text-align: center;
  }

  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(218, 191, 240);
  }

